@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Outfit:wght@200;300;400;500&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Outfit;
}

body {
  background-color: #d5e0ee;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  margin-top: 8%;
  height: 435px;
  width: 280px;
  background-color: #fff;
  border-radius: 5%;
}

img {
  height: 275px;
  width: 280px;
  padding: 12px 12px;
  border-radius: 8%;
}

h3 {
  padding: 8px 25px;
  text-align: center;
}

p {
  padding: 7px 25px;
  text-align: center;
  color: grey;
  font-size: 13px;
}
